<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Rated Places to Stay | Airbnb</title>
    <meta name="author" content="Avleen">
    <meta name="description" content="Best Places to Stay">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
        <header class="header">
        <div class="nav">
            <div class="icons">
                <img class="images" src="images/airbnb_logo_final.png" alt="Airbnb-logo">
            </div>
            <div class="nav-items">
                <ul>
                    </li>
                    <li><a href="#">Host a Home</a></li>
                    <li><a href="#">Host an Experience</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/room-listing">Explore</a></li>
                    <li><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></li>
                    <li><a href="/user-registration">Sign In</a></li>
                    <li><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></li>
                </ul>
            </div>
            
        </div>
    </header>
    <main>
    
    {{{body}}}

       
    </main>
    <footer>
        <div class="footer-grid">
            <div class="createdby">
                <p>Created By Avleen</p>
            </div>

            <div class="icons">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>