<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Rated Places to Stay | Airbnb</title>
    <meta name="author" content="Avleen">
    <meta name="description" content="Best Places to Stay">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
        <header class="header">
        <div class="nav">
            <div class="icons">
                <img class="images" src="images/airbnb_logo_final.png" alt="Airbnb-logo">
            </div>
            <div class="nav-items">
                <ul>
                    </li>
                    <li><a href="#">Host a Home</a></li>
                    <li><a href="#">Host an Experience</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/room-listing">Explore</a></li>
                    <li><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></li>
                    <li><button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">SignUp</button></li>
                </ul>
            </div>
            
        </div>
    </header>
    <main>
    
    {{{body}}}

{{#each messages}}

    <div class="errors">{{this}}</div>

    {{/each}}
    
    <div id="id01" class="modal">
  
  <form class="modal-content animate" action="/sendMessage" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      {{!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> --}}
    </div>

    <div class="container">
      
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<div id="id02" class="modal">
  
  <form class="modal-content animate" action="/sendMessage" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      {{!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> --}}
    </div>

    <div class="container">

      <label for="uemail"><b>Email Address</b></label>
      <input type="text" placeholder="Enter Email Address" name="uemail" required>

      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Create Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Sign Up</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal1 = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    }
}
var modal2 = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}
</script>
       
    </main>
    <footer>
        <div class="footer-grid">
            <div class="createdby">
                <p>Created By Avleen</p>
            </div>

            <div class="icons">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>