<section class="room-listing-main">
            <div class="main-heading">
                <h2>Welcome to Airbnb, Avleen!</h2>
                <div class="welcome-section">
                <p>Check your messages, view upcoming trip information, and find travel inspiration all from your dashboard. Before booking your first stay, make sure to: </p>
                <h3>Complete Your Profile</h3>
                <p>Upload a photo and write a short bio to help hosts get to know you before inviting you into their home.</p>
                <h3>Provide ID</h3>
                <p>Some hosts require guests to provide ID before booking. Get a head start by doing it now.</p>
                <h3>Learn How to Book a Place</h3>
                <p>Get ready to search for the perfect place, contact hosts, and prepare for a memorable trip.</p>

            </div>   
            </div>

             
        </section>