<section>
            <div class="main-heading">
                <h2>Introducing Airbnb Adventures</h2>
                <p>Multi-day trips led by local experts—activities, meals, and stays included.</p>
            </div>

            <div class="places-block">
                <div class="destination_x">
                    <img class="images" src="images/img1.jpg" alt="image">
                    <div class="content_x">
                        <span>ENTIRE HOUSE | CISTERNINO, BRINDIS</span>
                        <p class="p-heading">Entire Apartment <a href="#"><span class="heart-red">
                                    <i class="fas fa-heart"></i></span></a> </p>
                        <p>Amazing View From Modern Chalet</p>
                        <p>$150 CAD/night</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.5 (200) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>

                    </div>
                    <div>

                    </div>

                </div>

                <div class="destination_x">
                    <img class="images" src="images/img2.jpg" alt="image">
                    <div class="content_x">
                        <span class="verified-box"> VERIFIED | TRISTERNINO, LOS ANGELES</span>
                        <p class="p-heading">Entire House </p>
                        <p> The best position in the
                            North Hvar!</p>
                        <p>$150 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 3.9 (100)<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>

                <div class="destination_x">
                    <img class="images" src="images/img3.jpg" alt="">
                    <div class="content_x">
                        <span>ENTIRE GUESTHOUSE | CISTERNINO, BRINDIS</span>
                        <p class="p-heading">Dome House <span class="heart-red"><i class="fas fa-heart"></i></span></p>
                        <p>Exceptional property private beach</p>
                        <p>$100 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.2 (478) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>


                <div class="destination_x">
                    <img class="images" src="images/img4.jpg" alt="image">
                    <div class="content_x">
                        <span class="verified-box">VERIFIED | ENTIRE APARTMENT, BOSA</span>
                        <p class="p-heading">Treehouse <span class="heart-red"><i class="fas fa-heart"></i></span></p>
                        <p>Private Pool House with Amazing Views!</p>
                        <p>$90 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 3.8 (600)<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                <div>

                    


                    </div>

                </div>
            </div>
        </section>