<section>
            <div class="main-heading">
                <h2>Introducing Airbnb Adventures</h2>
                <p>Multi-day trips led by local experts—activities, meals, and stays included.</p>
            </div>

<div class="products" id="places-block">
  <section class="productCard">
  <div class="container">
    <img  src="images/img1.jpg" alt="Skirt with Belt Zara" style="width:100%;">
       
  </div>
    <div class="content_x">
      <p class="p-heading"><strong>Skirt with Belt Zara</strong></p>
      <p class="productCardListItem"></p><h3>Custom</h3><p></p>
      <p class="productCardListItem"></p><h3>Price: $300</h3><p></p>
      <p class="productCardListItem"></p><h3>Average rating: 3</h3><p></p>
      <input type="button" class="btn" id="addtocart" value="Add to Cart">
      </div>
</section>

  <section class="productCard">
  <div class="container">
    <img  src="images/img2.jpg" alt="Flare Dress Zara" style="width:100%;">
       
  </div>
    <div class="content_x">
      <p class="p-heading"><strong>Flare Dress Zara</strong></p>
      <p class="productCardListItem"></p><h3>Casual</h3><p></p>
      <p class="productCardListItem"></p><h3>Price: $100</h3><p></p>
      <p class="productCardListItem"></p><h3>Average rating: 4</h3><p></p>
      <input type="button" class="btn" id="addtocart" value="Add to Cart">
      </div>
</section>

  <section class="productCard">
  <div class="container">
    <img  src="images/img3.jpg" alt="Dress with Pleats Zara" style="width:100%;">
       
  </div>
    <div class="content_x">
      <p class="p-heading"><strong>Dress with Pleats Zara</strong></p>
      <p class="productCardListItem"></p><h3>Party Wear</h3><p></p>
      <p class="productCardListItem"></p><h3>Price: $230</h3><p></p>
      <p class="productCardListItem"></p><h3>Average rating: 5</h3><p></p>
      <input type="button" class="btn" id="addtocart" value="Add to Cart">
      </div>
</section>

  <section class="productCard">
  <div class="container">
    <img  src="images/img4.jpg" alt="Floral Maxi Dress Zara" style="width:100%;">
       
  </div>
    <div class="content_x">
      <p class="p-heading"><strong>Floral Maxi Dress Zara</strong></p>
      <p class="productCardListItem"></p><h3>Casual</h3><p></p>
      <p class="productCardListItem"></p><h3>Price: $200</h3><p></p>
      <p class="productCardListItem"></p><h3>Average rating: 4</h3><p></p>
      <input type="button" class="btn" id="addtocart" value="Add to Cart">
      </div>
</section>

  

  </div>
        </section>