 <section class="room-listing-main">
            <div class="main-heading">
                <h2>Top-Rated Places To Stay</h2>
            </div>

            <div class="places-block">
                <div class="destination_x">
                    <img class="images" src="images/img1.jpg" alt="image">
                    <div class="content_x">
                        <span>ENTIRE HOUSE | CISTERNINO, BRINDIS</span>
                        <p class="p-heading">Entire Apartment <a href="#"><span class="heart-red">
                                    <i class="fas fa-heart"></i></span></a> </p>
                        <p>Amazing View From Modern Chalet</p>
                        <p>$150 CAD/night</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.5 (200) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>

                    </div>
                    <div>

                    </div>

                </div>

                <div class="destination_x">
                    <img class="images" src="images/img2.jpg" alt="image">
                    <div class="content_x">
                        <span class="verified-box"> VERIFIED | TRISTERNINO, LOS ANGELES</span>
                        <p class="p-heading">Entire House </p>
                        <p> The best position in the
                            North Hvar!</p>
                        <p>$150 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 3.9 (100)<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>

                <div class="destination_x">
                    <img class="images" src="images/img3.jpg" alt="">
                    <div class="content_x">
                        <span>ENTIRE GUESTHOUSE | CISTERNINO, BRINDIS</span>
                        <p class="p-heading">Dome House <span class="heart-red"><i class="fas fa-heart"></i></span></p>
                        <p>Exceptional property private beach</p>
                        <p>$100 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.2 (478) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>


                <div class="destination_x">
                    <img class="images" src="images/img4.jpg" alt="image">
                    <div class="content_x">
                        <span class="verified-box">VERIFIED | ENTIRE APARTMENT, BOSA</span>
                        <p class="p-heading">Treehouse <span class="heart-red"><i class="fas fa-heart"></i></span></p>
                        <p>Private Pool House with Amazing Views!</p>
                        <p>$90 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 3.8 (600)<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>


                <div class="destination_x">
                    <img class="images" src="images/img5.jpg" alt="image">
                    <div class="content_x">
                        <span>TREE HOUSE | MONTE, VERDE</span>
                        <p class="p-heading">Entire guesthouse </p>
                        <p> Romantic Cabana with view</p>
                        <p>$90 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.3 (260) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>


                <div class="destination_x">
                    <img class="images" src="images/img6.jpg" alt="image">
                    <div class="content_x">
                        <span class="verified-box">VERIFIED | ENTIRE APARTMENT, KOTOR</span>
                        <p class="p-heading">Private Room <span class="heart-red"><i class="fas fa-heart"></i></span>
                        </p>
                        <p>Classical Apartment on the Royal Mile</p>
                        <p>$90 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 3.5 (800) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>


                <div class="destination_x">
                    <img class="images" src="images/img7.jpg" alt="image">
                    <div class="content_x">
                        <span class="verified-box"> VERIFIED | SUZHOU, MENAGGIO</span>
                        <p class="p-heading">Entire Guest Suite <span class="heart-red"><i
                                    class="fas fa-heart"></i></span></p>
                        <p>Private House with Amazing Views!</p>
                        <p>$90 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.3 (300)<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>

                <div class="destination_x">
                    <img class="images" src="images/img8.jpg" alt="image">
                    <div class="content_x">
                        <span>ENTIRE HOUSE | CISTERNINO, BRINDIS</span>
                        <p class="p-heading">Entire cottage </p>
                        <p>Amazing and Extremely Central Flat</p>
                        <p>$90 CAD/night.</p>
                        <p><i class="fa fa-star" aria-hidden="true"></i> 4.3 (630) . Superhost<p>
                                <div class="btn-center">
                                    <a href="#" class="btn" title="book">Explore Now!</a>
                                </div>
                    </div>
                    <div>

                    </div>

                </div>

                
                


               


                

                </div>
            </div>
        </section>