<div id="id02" class="modal">
 
  <form class="modal-content animate" action="/validation" method="post">
    <div class="imgcontainer">
      {{!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> --}}
      {{!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> --}}
    </div>

    <div class="container">
       {{#each messages}}
        <div class="errors">{{this}}</div>
      {{/each}}
      <label for="firstname"><b>First name</b></label>
      <input type="text" placeholder="Enter First name" name="firstname" >

      <label for="lastname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lastname" >

      <label for="email"><b>Email Address</b></label>
      <input type="text" placeholder="Enter Email Address" name="email" >

      <label for="phone"><b>Phone Number</b></label>
      <input type="text" placeholder="Enter Phone Number" name="phone" >

      <label for="password"><b>Create Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">

      <label for="type"><b>User Type</b></label>
      <input type="text" placeholder="Type" name="type">

      <label for="pic"><b>Upload Your Image</b></label>
      <input type="file" placeholder="Upload image" name="pic" >      

     <input type="submit" class="btn-signup" value="SignUp">   
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
