<div id="id02" class="modal">
 
  <form class="modal-content animate" action="/" method="post">
    <div class="imgcontainer">
      <h2>Create a Room</h2>
    </div>

    <div class="container">
       
      <label for="rtilte"><b>Room Title</b></label>
      <input type="text" placeholder="Enter Room Title" name="title" >

      <label for="price"><b>Price</b></label>
      <input type="text" placeholder="Enter Price" name="price" >

      <label for="description"><b>Room Description</b></label>
      <input type="text" placeholder="Enter room description" name="description" >

      <label for="location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location" name="location" >

      <label for="featuredroom"><b>Featured Room</b></label>
      <input type="text" placeholder="Is this a featured room - yes or no" name="featuredroom">

       <label for="pic"><b>Room Image Upload</b></label>
      <input type="file" placeholder="Upload image" name="pic" >

     <input type="submit" class="btn-signup" value="ADD Room">   
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>
</div>
